{
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-jsdoc"],
  "tsdoc": true,
  "jsdocCommentLineStrategy": "multiline",
  "jsdocDescriptionWithDot": true
}
