name: CDK integration

on: [push, pull_request]

jobs:
  integration-tests:
    uses: ./.github/workflows/integration-against-mint.yml
    with:
      image: cashubtc/mintd:0.13.4
      port: 3338
      container_name: cdk-mint
      envs: |
        CDK_MINTD_DATABASE=sqlite
        CDK_MINTD_LN_BACKEND=fakewallet
        CDK_MINTD_INPUT_FEE_PPK=100
        CDK_MINTD_LISTEN_HOST=0.0.0.0
        CDK_MINTD_LISTEN_PORT=3338
        CDK_MINTD_FAKE_WALLET_MIN_DELAY=0
        CDK_MINTD_FAKE_WALLET_MAX_DELAY=0
        CDK_MINTD_MNEMONIC=abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about